.button {
  background-color: rgb(247, 247, 247, 0.6);
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  font-family: 'Roboto Condensed', sans-serif;
  color: #727272;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  display: inline;
  outline: none;
  border: 0;
  padding: 10px;
}

.button-success {
  background-color: rgba(0, 209, 0, 0.6);
  color: #000;
}

.button-danger {
  background-color: rgb(208, 0, 0, 0.6);
  color: #000;
}

.button-success:hover,
.button-success:active {
  background-color: rgba(0, 209, 0, 1);
}

.button-danger:hover,
.button-danger:active {
  background-color: rgb(208, 0, 0, 1);
}