.calendar-header {
  background: var(--wild-blue-yonder-color);
  height: 38px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.calendar-header-date-selector-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 18px;
  flex: 2 1015px;
}

.calendar-header-right-nav {
  flex: 1 510px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

.calendar-header-date-text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  color: var(--primary-text-color);
  cursor: pointer;
}

.calendar-header-date-selector-buttons {
  margin-left: 68px;
}

.calendar-header-date-selector-buttons i {
  color: var(--primary-text-color);
  font-size: 20px;
  margin-right: 4px;
  cursor: pointer;
}

.calendar-header-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--primary-text-color);
  font-size: 22px;
}

.calendar-header-menu li {
  display: inline-block;
  margin-right: 19px;
}

.calendar-header-menu li i {
  cursor: pointer;
}

.calendar-header-view-selector {
  list-style: none;
  margin: 0;
  padding: 0;
}

.calendar-header-view-selector li {
  background: rgba(28, 49, 68, 0.3);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.1em;
  color: var(--primary-text-color);
  padding: 5px;
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
}

.calendar-header-view-selector li.calendar-header-view-active {
  background: rgb(28, 49, 68);
}