.main-container {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.main-container-full-size {
  grid-column: 1 / 3;
}

.calendar-view {
  display:flex;
  flex-direction: row;
}

.condensed-view {
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 1015px;
  overflow: scroll;
  height: calc(100vh - 38px);
  max-width: 1055px;
}